<section class="resume-section" aria-labelledby="experience-heading">
  <div class="section-header-toggle js-toggle-header">
    <div class="section-title">
      <div class="icon-circle"><i class="fa-solid fa-briefcase"></i></div>
      <h2>JOB EXPERIENCE</h2>
    </div>
  </div>
  <div class="experience-list js-toggle-content" id="experience-container">
    <div class="experience-item">
        <div class="experience-header">
            <h3 class="experience-title">SENIOR WEB DESIGNER</h3>
            <span class="experience-date">2020 - Present</span>
        </div>
        <p class="experience-company">Creative Agency / Chicago</p>
        <p class="experience-description">Lorem Ipsum has been the industry's standard dummy text ever since 1500s, when unknown printer took a galley of type.</p>
    </div>
    <div class="experience-item" style="margin-top: 1.5rem;">
        <div class="experience-header">
            <h3 class="experience-title">GRAPHIC DESIGNER</h3>
            <span class="experience-date">2015 - 2020</span>
        </div>
        <p class="experience-company">Creative Market / Chicago</p>
        <p class="experience-description">Lorem Ipsum has been the industry's standard dummy text ever since 1500s, when unknown printer took a galley of type.</p>
    </div>
    <div class="experience-item" style="margin-top: 1.5rem;">
        <div class="experience-header">
            <h3 class="experience-title">MARKETING MANAGER</h3>
            <span class="experience-date">2013 - 2015</span>
        </div>
        <p class="experience-company">Manufacturing Agency / NJ</p>
        <p class="experience-description">Lorem Ipsum has been the industry's standard dummy text ever since 1500s, when unknown printer took a galley of type.</p>
    </div>
  </div>
</section>
